* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Utah';
    src: url('/font/Utah-Bold.woff2') format('woff2'),
        url('/font/Utah-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-size: 1em;
}

/* FONT */

p {
    font-family: 'Utah',"Times New Roman", Times, serif;
}

h1 {
    font-size: 5em;
}

h3 {
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Utah',"Times New Roman", Times, serif;
    line-height: 1;
}

header {
    background-color: black;
    width: 100%;
    padding: 10px 0;
}

.social-top-bar {
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #414141;
    padding-bottom: 5px;
}

.fa {
    color: white;
    font-size: 2em;
    margin-left: 10px;
}
.white-text {
    color: white;
}

.page-width {
    width: 1200px;
    margin: auto;
}

#logo-text {
    letter-spacing: 8px;
    
}
.logo-font-size {
    font-family:"Times New Roman", Times, serif;
    width: fit-content;
    padding-bottom:3px;
    font-size: 1.4em;
    border-bottom: white 3px solid;
    margin-bottom: 3px;
}

#logo-container {
    width: fit-content;
    border-bottom: 1px solid white;
    margin: 20px 0;
}

.main-subheading {
    font-size: 1em;
    letter-spacing: 10px;
}

section {
    margin: 100px 0;
}

/* SECTION: FEATURE GRID */
#feature-grid {
    background-color: black;
    height: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#grid-item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-image: url("images/products/landscape.jpg");
    background-size: cover;
}

#grid-item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
    background-color: rgb(207, 169, 0);
}

#grid-item3 {
    grid-column: 1;
    grid-row: 2 / span 2;
    background-image: url("images/products/pouches3.jpg");
    background-size: cover;
}

#grid-item4 {
    grid-column: 2;
    grid-row: 2;
}

#grid-item5 {
    grid-column: 2 / span 2;
    grid-row: 3;
    background-image: url("images/products/abstractpainting.jpg");
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
}

.image-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.product-image {
    position: absolute;
    top: 0;
    height: 100%;
    text-align: center;
}

.item {
    border: 1px solid black;
    padding: 25px;
}

.square {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.opaque {
    background-color: black;
}

.semi-transparent::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 21px 21px 0;
    border-color: transparent black transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
}

.circle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.product-title {
    margin-bottom: 25px;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 5px;
}

.opacity-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.product-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.margin-left-text {
    margin-left: 5px;
}

footer {
    background-color: black;
    width: 100%;
    color: white;
    min-height: 500px;
    padding: 100px 0;
}

